$background: rgb(255, 255, 145);
$font: 'Patrick Hand SC', sans-serif;
$headingFont: 'Permanent Marker', cursive;

html, body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $font;
  font-size: 1.2rem;
}

body {
  background: $background; 
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  letter-spacing: 1px;
  h1{
    font-family: $headingFont;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}