$baseColor: linear-gradient(to bottom right, rgba(122, 122, 122, 0.9), rgba(82, 82, 82, 0.9), rgba(122, 122, 122, 0.9), rgba(148, 148, 148, 1), rgba(82, 82, 82, 0.9));
$headerText: #fff;
$font: 'Patrick Hand SC', sans-serif;
$headingFont: 'Permanent Marker', cursive;

header {
    background: $baseColor;
    padding: .5rem;
    border-top: 2px groove rgb(148, 148, 148);
    border-bottom: 2px ridge rgb(148, 148, 148);
    h1, h3 {
        color: $headerText;
        text-align: center;
        font-family: $font;
    }
    h1 {
        font-family: $headingFont;
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
    nav {
        display: flex;
        justify-content: space-between;
        .board-button, .home-button {
            border-radius: 10px;
            border: 2px outset rgb(148, 148, 148);
            a {
                font-family: $font;
                text-decoration: none;
                color: #000;
                font-size: 1rem;
            }
            &:hover {
                border: 2px inset rgb(148, 148, 148);
            }
            // &:active {
            //     background: steelblue;
            // }
        }
    }
}