$baseColor: linear-gradient(to bottom right, rgba(122, 122, 122, 0.9), rgba(82, 82, 82, 0.9), rgba(122, 122, 122, 0.9), rgba(148, 148, 148, 1), rgba(82, 82, 82, 0.9));
$footerLinks: rgb(77, 56, 212);
$linkHover: rgb(50, 35, 145);
$font: 'Patrick Hand SC', sans-serif;
$headingFont: 'Permanent Marker', cursive;

@mixin headContent ($baseColor){
    background: $baseColor;
}

@mixin linkColor ($footerLinks){
    color: $footerLinks;
}

@mixin hoverColor ($linkHover){
    color: $linkHover;
}

footer {
    // position: relative;
    // bottom: 0;
    background: $baseColor;
    font-family: $font;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding: .25rem;
    border-top: 2px groove rgb(148, 148, 148);
    border-bottom: 2px ridge rgb(148, 148, 148);
    a {
        text-decoration: none;
        font-family: $headingFont;
        color: $footerLinks;
        &:hover{
            color: $linkHover;
        }
    }
}

.grow {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.dark footer {
    @include headContent (linear-gradient(to bottom right, rgba(19, 19, 19, 0.9), rgba(5, 5, 5, 0.9), rgba(27, 23, 23, 0.9), rgb(37, 34, 34), rgba(17, 16, 16, 0.9)));
    a {
        @include linkColor (rgb(247, 255, 130));
        &:hover {
            @include hoverColor (rgb(235, 252, 0));
        }
    }
}